@import '../../App.css';

#topbar {
  width: 100%;  
}

#topbar__gold {
  display: flex;
  justify-content: center;
  background: var(--dull-gold);
  height: 35px;
}

#topbar__gold  a {
  color: black;
  padding: 16px;
}

#topbar__gold > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

#topbar__black {
  background: var(--black);
  height: 108px;
}

#topbar__nav {
  display: flex;
  justify-content: center;
  background: var(--white);
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#topbar__nav > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 550px;
}

#topbar__nav a {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: larger;
  height: 48px;
  width: 100%;
  line-height: 50px;
  background: transparent;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

#topbar__nav a:active,
#topbar__nav a:hover,
#topbar__nav a:focus-visible {
  background: #f9fafb;
  border-bottom: 2px solid black;
}