:root {
  --black: #000;
  --white: #fff;
  --dull-gold: #CFB991;
  --light-grey: #D1D5DB;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  min-height: 105vh;
}

/* Custom CSS classes for Purdue Party */

.bg-dull-gold {
  background: var(--dull-gold);
}

.bg-black {
  background: var(--black);
}

.bg-white {
  background: var(--white);
}