@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&family=Open+Sans:wght@100;300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
